<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Employee Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  {% include 'emp/navbar.html' %}
  <h1 class="text-center my-3">Add New Employee</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card bg-light text-black">
          <div class="card-body">
            <form action="/emp/add-emp/" method="POST">
              {% csrf_token %}

              <!--First Name-->
              <div class="mb-3">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" class="form-control {% if form.firstname.errors %}is-invalid{% endif %}" placeholder="Enter First Name" name="firstname" value="{{ form_data.firstname|default:'' }}" required/>
                {% for error in form.firstname.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Father's Name-->
              <div class="mb-3">
                <label for="fathername">Father's Name</label>
                <input type="text" id="fathername" class="form-control {% if form.fathername.errors %}is-invalid{% endif %}" placeholder="Enter Father's Name" name="fathername" value="{{ form_data.fathername|default:'' }}" required />
                {% for error in form.fathername.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Last Name-->
              <div class="mb-3">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" class="form-control {% if form.lastname.errors %}is-invalid{% endif %}" placeholder="Enter Last Name" name="lastname" value="{{ form_data.lastname|default:'' }}" required />
                {% for error in form.lastname.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

             <!--Gender-->
            <div class="mb-3">
              <label>Gender</label>
              <div>
                <input type="radio" id="male" name="gender" value="Male" {% if form_data.gender == "Male" %}checked{% endif %}>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="Female" {% if form_data.gender == "Female" %}checked{% endif %}>
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="Other" {% if form_data.gender == "Other" %}checked{% endif %}>
                <label for="other">Other</label>
              </div>
            </div>


              <!--DOB-->
              <div class="mb-3">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" class="form-control {% if form.dob.errors %}is-invalid{% endif %}" name="dob" value="{{ form_data.dob|default:'' }}" required />
                {% for error in form.dob.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Employee Email-->
              <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="Enter Email" name="email" value="{{ form_data.email|default:'' }}" required/>
                {% for error in form.email.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Date Hired-->
              <div class="mb-3">
                <label for="date_hired">Date Hired</label>
                <input type="date" id="date_hired" class="form-control {% if form.date_hired.errors %}is-invalid{% endif %}" name="date_hired" value="{{ form_data.date_hired|default:'' }}" required />
                {% for error in form.date_hired.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Salary-->
              <div class="mb-3">
                <label for="salary">Salary</label>
                <input type="text" id="salary" class="form-control {% if form.salary.errors %}is-invalid{% endif %}" placeholder="Enter Salary" name="salary" value="{{ form_data.salary|default:'' }}" required />
                {% for error in form.salary.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Employee ID-->
              <div class="mb-3">
                <label for="emp_id">Employee ID</label>
                <input type="text" id="emp_id" class="form-control {% if form.emp_id.errors %}is-invalid{% endif %}" placeholder="Enter Employee ID" name="emp_id" value="{{ form_data.emp_id|default:'' }}" required/>
                {% for error in form.emp_id.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Phone Number-->
              <div class="mb-3">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" placeholder="Enter Employee Phone" name="phone" value="{{ form_data.phone|default:'' }}" required>
                {% for error in form.phone.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Employee Address-->
              <div class="mb-3">
                <label for="address">Address</label>
                <textarea id="address" rows="4" class="form-control {% if form.address.errors %}is-invalid{% endif %}" placeholder="Enter Address" name="address" required>{{ form_data.address|default:'' }}</textarea>
                {% for error in form.address.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <!--Status-->
              <div class="mb-3 form-check">
                <input type="checkbox" id="status" class="form-check-input {% if form.status.errors %}is-invalid{% endif %}" name="status" {% if form_data.status %}checked{% endif %}>
                <label for="status">Active</label>
                {% for error in form.status.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>


              <!--Departments-->
              <div class="mb-3">
                <label for="department">Department</label>
                <select id="department" class="form-control {% if form.department.errors %}is-invalid{% endif %}" name="department">
                  <option value="Marketing" {% if form_data.department == "Marketing" %}selected{% endif %}>Marketing</option>
                  <option value="HR" {% if form_data.department == "Human Resources" %}selected{% endif %}>Human Resources</option>
                  <option value="DEV" {% if form_data.department == "Development" %}selected{% endif %}>Development</option>
                  <option value="FIN" {% if form_data.department == "Finance" %}selected{% endif %}>Finance</option>
                </select>
                {% for error in form.department.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>


              <!--Add Employee Button-->
              <div class="container text-center">
                  <button type="submit" class="btn" style="background-color: #39B5E0;">Add Employee</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
