<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
  </head>
  <body>
    {% include 'emp/navbar.html' %}
    <h1 class="text-center my-3">Employees Table</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-light table-striped table-hover">
                <thead>
                  <tr>
                    <th>Number</th>
                    <th>First Name</th>
                    <th>Father's Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>ID</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Date Hired</th>
                    <th>Salary</th>
                    <th>Date Added</th>
                    <th>Date Updated</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for e in emps %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.firstname }}</td>
                    <td>{{ e.fathername }}</td>
                    <td>{{ e.lastname }}</td>
                    <td>{{ e.gender }}</td>
                    <td>{{ e.dob|date:"Y-m-d" }}</td>
                    <td>{{ e.emp_id }}</td>
                    <td>{{ e.phone }}</td>
                    <td>{{ e.email }}</td>
                    <td>{{ e.date_hired|date:"Y-m-d" }}</td>
                    <td>{{ e.salary }}</td>
                    <td>{{ e.date_added|date:"Y-m-d H:i" }}</td>
                    <td>{{ e.date_updated|date:"Y-m-d H:i" }}</td>
                    <td>{{ e.address }}</td>
                    <td>{{ e.status }}</td>
                    <td>{{ e.department }}</td>
                    <td>
                      <a href="/emp/delete-emp/{{ e.id }}" class="btn btn-danger btn-sm">Delete</a>
                      <a href="/emp/update-emp/{{ e.id }}" class="btn btn-success btn-sm">Update</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
  </body>
</html>